.div1{
    border-radius: 6%;
    COLOR: WHITE;
    position: absolute;
    height: 124%;
    width: 25%;
	font-size:17px;
    background-image: url(lake-in-the-mountains.jpg);


}

    
.DIV2{
    
    position: absolute;
    margin-left: 27%;
}
h2{
    font-family: cursive;
}
h1{
    	color: white;
	font-family: ui-sans-serif;
	margin-left:19%;
	font-size: 50px;

}

img{

        margin-top: 10%;
	margin-left: 20%;
	width: 43%;
	height:20%;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
